.Rproj.user
.Rhistory
.RData
.Ruserdata
.RData.RData
postEDA.RData

# data files that are too large
data/misc/
data/customer-support-on-twitter/
data/customer-support-on-twitter.zip

# Mac related files
__MACOSX/

